:root {
    --naverGreen : #2DB400;
    --customGreen : #36ee48;
    --cacaoBlue : #258fff;
    --customBlue : #004eff;
    --seoulBlue : #558BCF;
    --azure : #0099ff;
    --main : #252f62;
    --sub : #1b2251;
}

html { 
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    /* display: flex; */
    height: 100%;
    /* overflow: hidden; */
    /* align-items: center;
    justify-content: center; */
    background-color: var(--main);
}

#body-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#menu-container {
    width: 100px;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

ul {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin-top: 100px;
}

li {
    color: white;
    margin-top: 30px;
    /* border: 1px solid aqua; */

}
li:first-child {
    margin-top: 0px;
}

.menu-icon {
    width: 40px;
    height: 50px;
    margin: 0px auto;
    box-sizing: border-box;
}
.menu-circle {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    border-radius: 50px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 40px;
    box-sizing: border-box;
    background-color: var(--sub);

}

.menu-label {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.border {
    position: absolute;
    left: 81px;
    top: 70px;
    width: 100px;
    height: 100px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.border span {
    position:absolute;
    top: 40px;
    left: 5px;
    font-size: 14px;
    color: gray;
}

#login-container {
    margin-top: 100px;
}

.login-icon {
    color: white;
}

#map-container {
    background-color: #fbfdff;
    width: calc(100% - 100px);
    height: 100%;
    /* border-radius: 30px 0px 0px 30px; */
    padding: 10px;
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

#interaction-container {
    display: flex;
    position:absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}

#search-container {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    padding: 6px 10px;
}

#search-container div {
    display: inline-block;
    width: 30px;
    text-align: center;
}

#search-container div:first-child label:hover {
    cursor: pointer;
}
#search-container div i {
    color: var(--main);
    /* color: var(--customGreen); */
}

#search-container input[type="text"] {
    padding: 0;
    border: none;
    box-sizing: border-box;
    width: 160px;
    outline: none;
    font-weight: bold;
}


#category-container {
    position: relative;
    display: flex;
    height: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
}

.category {
    padding: 6px 10px ;
    font-weight: bold;
}
.category:hover {
    cursor: pointer;
    /* color: var(--naverGreen); */
    color: var(--cacaoBlue);
}

.category i {
    margin-right: 5px;
}

.category.food i{
    color: coral;
}

.category.shop i {
    color: var(--azure);
}

.category.etc:nth-child(1) i {
    color: burlywood;
}
.category.hospital i{
    color: darksalmon;
}


.etc-btn {
    padding: 6px 10px;
    border-left: 1px solid rgba(196, 194, 194, 0.403);
    /* border-left: 2px solid var(--customGreen); */
}

.etc-btn:hover {
    cursor: pointer;
    color: var(--cacaoBlue);
}

.etc-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 135px;
    flex-wrap: wrap;
    top: 40px;
    left: 145px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 5px;
}

.etc {
    /* border: 1px solid blue; */
}