:root {
    --naverGreen : #2DB400;
    --customGreen : #36ee48;
    --cacaoBlue : #258fff;
    --customBlue : #004eff;
    --seoulBlue : #558BCF;
    --azure : #0099ff;
    --main : #252f62;
    --sub : #1b2251;
}

.hide {
    display: none !important;
}

html { 
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#body-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#menu-container {
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--main);
}

ul {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin-top: 100px;
}

li {
    color: white;
    margin-top: 30px;
}
li:first-child {
    margin-top: 0px;
}

.menu-icon {
    width: 40px;
    height: 50px;
    margin: 0px auto;
    box-sizing: border-box;
}
.menu-circle {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    border-radius: 50px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 40px;
    box-sizing: border-box;
    background-color: var(--sub);

}

.menu-label {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.border {
    position: absolute;
    left: 81px;
    top: 70px;
    width: 100px;
    height: 100px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: 3;
}

.border span {
    position:absolute;
    top: 40px;
    left: 5px;
    font-size: 14px;
    color: gray;
}

#login-container {
    margin-top: 100px;
}

.login-icon {
    color: white;
}


#map-container {
    background-color: #fbfdff;
    width: calc(100% - 100px);
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    padding: 0px 0px 0px 1px;
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
}

#menu-content-container {
    position: absolute;
    top: 0px;
    left: -100px;
    width: 240px;
    height: 100%;
    background-color: white;
    z-index: -1;
    box-shadow: 0px 1px 1px;
}

#menu-container:hover ~ #map-container #menu-content-container {
    transform: translateX(200px);
    z-index: 1;
}

#interaction-container {
    display: flex;
    position:absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}

#search-container {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    padding: 6px 10px;
}

#search-container div {
    display: inline-block;
    width: 30px;
    text-align: center;

    /* 세로 가운데 정렬 */
    position: relative;
    top: 50%;
    transform:translateY(-50%) ;
}

#search-container div:first-child label:hover {
    cursor: pointer;
}

#search-container div i {
    color: var(--main);
}

#search-container input[type="text"] {
    padding: 0;
    border: none;
    box-sizing: border-box;
    width: 160px;
    outline: none;
    font-weight: bold;

    position: relative;
    top: 50%;
    transform:translateY(-75%);
}


#category-container {
    position: relative;
    display: flex;
    height: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    margin-left: 20px;
}

.category {
    padding: 6px 10px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.category:hover {
    cursor: pointer;
    /* color: var(--naverGreen); */
    color: var(--cacaoBlue);
}

.category i {
    margin-right: 5px;
}

.category.food i{
    color: coral;
}

.category.shop i {
    color: var(--azure);
}

.category.hospital i{
    color: darksalmon;
}

.category.etc:nth-child(1) i {
    color: burlywood;
}

.category.etc:nth-child(2) i {
    color: #2DB400;
}

.category.etc:nth-child(3) i {
    color: orchid;
}

.category.etc:nth-child(4) i {
    color: gold;
}

.category.etc:nth-child(5) i {
    color: #2DB400;
}
.category.etc:nth-child(6) i {
    color: tomato;
}


.etc-btn {
    padding: 6px 10px;
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid rgba(196, 194, 194, 0.403);
    border-radius: 0px 5px 5px 0px;
    z-index: 1;
}

.etc-container {
    position: absolute;
    left: 125px;
    top: 33px;
}

.etc-btn-trigger {
    position: absolute;
    top: -33px;
    left: 190px;
    width: 35px;
    height: 33px;
    border-radius: 0px 5px 5px 0px;
    z-index: 2;
}

.etc-container > div:first-child:hover {
    cursor: pointer;
}

.etc-category-container {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 165px;
    flex-wrap: wrap;
    margin-top: 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 5px;
    padding: 5px 0px 5px 5px;
}


.etc-container .category {
    margin-top: 5px;
}