:root {
    --naverGreen : #2DB400;
    --customGreen : #36ee48;
    --cacaoBlue : #258fff;
    --customBlue : #004eff;
    --seoulBlue : #558BCF;
    --azure : #0099ff;
    --grayBlue : #eceef9;

    --main : #252f62;
    --sub : #1b2251;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.menuContent-container-active {
    transform: translateX(250px);
    box-shadow: 0px 1px 1px;
}

.active {
    background-color: rgba(0, 0, 0, 0.05);
    /* background-color: red !important; */
}

html { 
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

/* 메인 */
.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

/* 메뉴 카테고리들 */
.menu-wrapper {
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--main);
    z-index: 3;
}

.menu-container {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin-top: 100px;
}

.menu-container li {
    color: white;
    margin-top: 30px;
}

.menu-container li:first-child {
    margin-top: 0px;
}

.menu-icon {
    width: 40px;
    height: 50px;
    margin: 0px auto;
    box-sizing: border-box;
}

.menu-circle {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    border-radius: 50px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 40px;
    box-sizing: border-box;
    background-color: var(--sub);
}

.menu-name {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.login-container {
    margin-top: 100px;
}

.login-icon {
    color: white;
}

.menu-circle:hover {
    background-color: var(--customGreen);
    cursor: pointer;
}

/* 메뉴의 컨텐츠 */
.menuContent-container {
    position: absolute;
    top: 0px;
    left: -150px;

    width: 250px;
    height: 100%;
    background-color: white;
    z-index: 2;
    
    transition-duration: 0.2s;
}

.menuContent-container > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    box-sizing: border-box;
}

/* 검색 컨텐츠 - 검색바  */
.searchContent .search-container {
    height: 22px;
    border: 2px solid var(--customGreen);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 10px;
}

.searchContent .search-container div {
    display: inline-block;
    height: 100%;
    position: relative;
    top: 50%; 
    transform:translateY(-50%) ;
    color: var(--customGreen);
}

.searchContent .search-container label:hover {
    cursor: pointer;
}

.searchContent .search-container input {
    position: relative;
    top: 50%; 
    transform:translateY(-50%) ;
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-weight: bold;
}

/* 검색 컨텐츠 - 지역 정보 */
.searchContent .location-container {
    height: 58px;
    padding: 5px 10px;
    margin: 10px 10px 0px;
}

.searchContent .location-wrapper {
    display: flex;
    height: 22px;
    overflow: hidden;
}

.searchContent .location-address {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.searchContent .location-weather {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.searchContent .location-weather .temp {
    font-size: 15px;
    margin-left: 4px;
}

.searchContent .location-dust {
    flex-grow: 1;
    height: 40px;
    overflow: hidden;
    margin-left: 7px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    transition-duration: 1s;
}

.searchContent .location-dust.up {
    transform: translateY(-20px);
}

.searchContent .dust {
    text-align: center;
    margin:auto;
    font-size: 14px;
}

.searchContent .rate {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

/* 검색 컨텐츠 - 맛집, 검색한 정보 */
.searchResult-container {
    height: calc(100% - 100px);
    overflow: hidden;
    margin-left: 10px;
}

.recommend-container {
    height: 100%;
    box-sizing: border-box;
    margin-left: 10px;
}

.recommend-container .border {
    display: flex;
    height: 20px;
    margin-right: 10px;
}

.recommend-container .border span {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.recommend-container .border span span{
    font-size: 14px;
    color: black;
    margin-left: 2px;
}

.recommend-container .border div {
    flex-grow: 1;
    height: 0px;
    border-top: 2px solid black;
    margin-top: 10px;
    margin-left: 5px;
}

.recommend-lists-container {
    height: calc(100% - 23px);
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}

.recommend-lists-container::-webkit-scrollbar {
    width: 5px;
}

.recommend-lists-container::-webkit-scrollbar-thumb {
    background-color: #c4c6c8;
    border-radius: 10px;
}

.recommend-lists-container::-webkit-scrollbar-track {
    background-color: #e9ecef;
}

.recommend-lists-container .recommend-list-container:first-child {
    margin-top: 5px;
}

.recommend-list-container {
    height: 210px;
    padding-right: 15px;
    margin-top: 20px;
}

.recommend-list-container:hover {
    cursor: pointer;
}

.recommend-list-container div:first-child {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.recommend-list-container img {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

.recommend-list-container img:hover {
    transform: scale(1.1);
}

.recommend-list-container div:nth-child(2) {
    color: #0475f4;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.recommend-list-container div:nth-child(2) span {
    color: rgba(0, 0, 0, 0.548);
    font-size: 14px;
}

.recommend-list-container div:last-child {
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




.result-container {
    margin-top: 20px;
    height: 300px;
}

.info-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 10px);
    background-color: white;
    box-sizing: border-box;
}


/* 지도 */
.map-container {
    background-color: #fbfdff;
    width: calc(100% - 100px);
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    padding: 0px 0px 0px 1px;
    box-sizing: border-box;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 지도 내 상호작용들 */
.interaction-container {
    display: flex;
    position:absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
/* 상호작용 중 검색기능 */
.interaction-container .search-container {
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    width: 230px;
    height: 36px;
    padding: 6px 10px;
    box-sizing: border-box;
}

.interaction-container  .search-container .label-container {
    display: inline-block;
    width: 30px;
    text-align: center;

    /* 세로 가운데 정렬 */
    position: relative;
    top: 50%;
    transform:translateY(-50%) ;
}

.interaction-container .search-container label:hover {
    cursor: pointer;
}

.interaction-container .search-container i {
    color: var(--main);
}

.interaction-container .search-container input[type="text"] {
    padding: 0;
    border: none;
    box-sizing: border-box;
    width: 160px;
    outline: none;
    font-weight: bold;

    position: relative;
    top: 50%;
    transform:translateY(-75%);
}

.searchList {
    position: absolute;
    top: 34px;
    left: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 5px 5px ;
}

/* history, autoComplete는 나중에 합쳐도 되면 합치자. */
.history {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.history i {
    color: var(--main);
    font-size: 14px;
}

.history span {
    padding-left: 5px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.history:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.autoComplete {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.autoComplete i {
    color: var(--main);
    font-size: 14px;
}

.autoComplete span {
    padding-left: 5px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.autoComplete:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}


.no-history {
    padding-left: 40px;
}


/* 상호작용 중 검색카테고리 */

.category-container {
    position: relative;
    display: flex;
    height: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    margin-left: 20px;
}

.category {
    padding: 6px 10px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.category:hover {
    cursor: pointer;
    /* color: var(--naverGreen); */
    color: var(--cacaoBlue);
}

.category i {
    margin-right: 5px;
}

.category.food i{
    color: coral;
}

.category.shop i {
    color: var(--azure);
}

.category.hospital i{
    color: darksalmon;
}

.category.etc:nth-child(1) i {
    color: burlywood;
}

.category.etc:nth-child(2) i {
    color: #2DB400;
}

.category.etc:nth-child(3) i {
    color: orchid;
}

.category.etc:nth-child(4) i {
    color: gold;
}

.category.etc:nth-child(5) i {
    color: #2DB400;
}
.category.etc:nth-child(6) i {
    color: tomato;
}


.etc-btn {
    padding: 6px 10px;
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid rgba(196, 194, 194, 0.403);
    border-radius: 0px 5px 5px 0px;
    z-index: 1;
}

.etc-container {
    position: absolute;
    left: 125px;
    top: 33px;
}

.etc-btn-trigger {
    position: absolute;
    top: -33px;
    left: 190px;
    width: 35px;
    height: 33px;
    border-radius: 0px 5px 5px 0px;
    z-index: 2;
}

.etc-container > div:first-child:hover {
    cursor: pointer;
}

.etc-category-container {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 165px;
    flex-wrap: wrap;
    margin-top: 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 5px;
    padding: 5px 0px 5px 5px;
}

.etc-container .category {
    margin-top: 5px;
}

/* 지도의 커스텀마커 */
.marker-container {
    display: flex;
    height: 40px;
    border: 1px solid #0475f4;
    border-radius: 30px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}

.marker-icon {
    min-width: 28px;
    max-width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: #0475f4;
    text-align: center;
    line-height: 30px;
}

.marker-container i {
    color: white;
    font-size: 16px;
}

.marker-address {
    padding: 0px 10px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 15px;
}

.marker-address-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    font-size: 14px;   
    white-space: nowrap;
}

.marker-place-name {
    /* min-width: 180px; */
    font-size: 14px;   
    white-space: nowrap;
}

.marker-place-category {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.558);
}

.marker-point {
    position: absolute;
    top: 39px;
    left: 30px;
    width: 5px;
    height: 5px;
    background-color: white;
    border-right: 1px solid #0475f4;
    border-bottom: 1px solid #0475f4;
    transform: rotate(45deg);

}

.marker-container:hover {
    color: #0475f4;
    cursor: pointer;
}

/* 메뉴 컨텐츠의 닫기버튼 */
.curve {
    position: absolute;
    left: 86px;
    top: 70px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    z-index: 3;
    opacity: 0;
}

.curve span {
    position:absolute;
    top: 40px;
    left: 5px;
    font-size: 14px;
    color: gray;
}

.curve span:hover {
    cursor: pointer;
}

path {
    fill: #fbfdff;
    stroke-width: "1";
    stroke-linecap: "round";
}
path:hover {
    cursor: pointer;
}
